*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body{
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgb(215, 215, 215);
}
nav{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 241, 241);
    border-bottom: 1px solid grey;
    box-shadow: 0 0 10px black;
    transition: background-color 0.6s ease;
    padding: 0 135px;
}
/*
nav.scrolled {
    background-color: rgb(203, 203, 203); 
}
    */
.logo{

}
.logo img{
    width: 100px;
}
.list{
    flex: 1;
    text-align: end;
}
.list ul li{
    list-style: none;
    display: inline-block;
    font-size: 17px;
    margin: 0 8px;
    padding: 10px 13px;
    transition: 0.6s ease;
}
.list ul li a{
    text-decoration: none;
    color: #896c22;
    font-weight: 600;
}
.list ul li:hover,
.list ul .main{
    border-radius: 18px;
    background-color: #9CBA70;
}/*
.login{
    display: flex;
    background: rgb(233, 233, 233);
    justify-content: end;
    padding: 5px 135px;
}
.login a{
    background-color: yellow;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 5px;
}*/
.slider{
    width: 100%;
    height: 610px;
    margin: auto;
    position: relative;
    box-shadow: 0 6px 10px grey;
    overflow: hidden;
}

.slider .image-list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .image-list img{
    width: 1580px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    
}
.slider .buttons{
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    z-index: 3;
    cursor: pointer;
}

.slider .buttons button:hover{
    box-shadow: 0 0 5px;
    background-color: rgba(128, 128, 128, 0.53)
}

.slider .dots{
    position: absolute;
    bottom: 35px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 3;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
.item {
    position: relative;
    width: 100%;
    height: 100%;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.542); 
    z-index: 1;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    padding: 20px 0;
}

.text-overlay h1{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px #9CBA70;
    margin-bottom: 80px;
}

.text-overlay .side-text{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.text-overlay .side-text a{
    color: #896c22;
    background-color: #9CBA70;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 12px;
    border-radius: 5px;
    transition: 0.4s ease;
    display: block;
}

.text-overlay .side-text a:hover{
    box-shadow: 0 2px 10px #896c22;
    transform: scale(1.03);
}
.difference{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.difference p{
    color: #896c22;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 500;
}
.difference h1{
    font-size: 40px;
    display: inline-block;
    position: relative;
}
.diamond::after,
.diamond::before{
    content: '';
    position: absolute;
    top: 50px;
    border: 3px solid #9CBA70;
}
.diamond::after{
    width: 46%;
    left: 0;
}
.diamond::before{
    left: 53.1%;
    width: 45%;
}
.difference i{
    position: relative;
    bottom: 3px;
    color: #9CBA70;
}
.aint{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 60px 135px;
    z-index: 2;
}
.aint .no{
    height: 40vh;
    background-color: #fff;
    width: 20%;
    box-shadow: 0 0 15px grey;
}

.aint .no i{
    width: auto;
    padding: 12px;
    position: relative;
    font-size: 32px;
    bottom: 25px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 50%;
    background-color: #9CBA70;
    color: #fff;
}
.aint .no h3{
    text-align: center;
    font-size: 26px;
    position: relative;
    top: 12px;
}
.aint .no p{
    font-size: 17px;
    position: relative;
    top: 30px;
    text-align: center;
}
.aint .no .read{
    text-align: center;
    position: relative;
    top: 110px;
}
.read{
    display: flex;
    justify-content: center;

}
.read a{
    text-decoration: none;
    font-size: 17px;
    background-color: #9CBA70 ;
    color: #896c22;
    padding: 8px 9px;
    border-radius: 30px;
    transition: 0.4 ease;
}
.read a:hover{
    transform: scale(1.1);
    border: 1px solid rgb(82, 81, 81);
    box-shadow: 0 0 10px grey;
}
.party, .like{
    padding: 0 8px;
}
/*
.puff{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    margin: 0 186px;
    margin-bottom: 60px;
}
.puff .daddy{
    height: 100%;
    width: 48%;
    box-shadow: 0 0 10px grey;
}
.daddy img{
    width: 100%;
    height: 100%;
    display: block;
}
.puff .hun{
    width: 40%;
    width: 50%;
    padding-left: 10px;
}
.hun h1{
    text-align: center;
}
.aint, .puff{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease-in-out;
}
    */
    .aint, .home-section, .headache,
    .project, .project-cont{
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.7s ease-in-out;
    }
    .aint.show, .home-section.show, .headache.show,
    .project.show, .project-cont.show{
        opacity: 1;
        transform: translateY(0);
    }
.stats{
    background-image: url(../images/handy.jpg);
    height: 390px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 125px;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}
.stats::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.stats .insider{
    font-size: 52px;
    color: #9CBA70;
    border-radius: 50%;
    z-index: 2;
}
.insider i{
    padding: 10px;
    border: 1.5px solid #9CBA70;
    border-radius: 50%;
    box-shadow: 0 0 10px grey;
    border: 2x solid #896c22;
}
.big{
    display: flex;
    box-shadow: 0 0 5px #d3d3d3;
}
.stats .small{
    color: #fff;
    position: relative;
    left: 8px;
    text-align: center;
    width: 200px;
}
.small .numbers{
    font-size: 48px;
    font-weight: 700;
}
.small p{
    font-size: 16px;
    position: relative;
    top: 2px;
}
.small .plus{
    font-size: 28px;
    position: relative;
    bottom: 18px;
    left: 3px;
    font-weight: 900;
}
.home-section {
    display: flex;
    justify-content: center;
    margin: 0 186px;
    box-shadow: 0 0 10px grey;
    background-color: #fff;
    height: 450px;
    margin-bottom: 30px;
}

.home-tab {
    order: 2;
    width: 60%;
    padding: 20px;
}

.intro-text {
    text-align: center;
    margin-bottom: 20px;
}

.intro-text p {
    font-size: 18px;
    color: #896c22;
    font-weight: 500;
}

.intro-text h1 {
    font-size: 32px;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}
.tabs {
    display: flex;
    justify-content: space-evenly;
}

.tabs .tabby {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tab-button {
    margin: 10px 0;
    padding: 5px;
    font-size: 17px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 20px;
}

.tab-button:hover,
.tab-button.active {
    border-radius: 18px;
    background-color: #9CBA70;
}

.tab-content {
    margin-top: 10px;
    text-align: center;
    padding: 0 28px;
}

.tab-content p {
    font-size: 17px;
    position: relative;
    top: 10px;
}

.image-section {
    width: 40%;
}

.image-section img {
    height: 100%;
    object-fit: cover;
}
.content-button{
    position: relative;
    top: 30px;
}
.content-button a{
    padding: 9px 13px;
    font-size: 17px;
    color: black;
    background-color: #9CBA70;
    text-decoration: none;
    border-radius: 30px;
}

/*tomorrow*/
.hi{
    margin: 30px 186px;
}
.today, .sandwich{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sandwich{
    padding: 0 186px;
}
.yeah{
    height: auto;
    display: flex;
    width: 280px;
}

.yeah .iconic{
    display: flex;
    border: 2px solid #9CBA70;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 10px grey;
}

.yeah i{
    font-size: 40px;
    color: #9CBA70;
}

.yeah p{
    font-size: 18px;
    padding: 23px 0 23px 10px;
    text-shadow: -1px 1px 2px grey;
}
.shape-head{
    font-size: 38px;
    text-align: center;
    width: 700px;
    position: relative;
    display: inline-block;
}
.words,
.project-words{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.words h1,
.project-words h1{
    font-size: 40px;
    position: relative;
    display: inline-block;
}
.words p,
.project-words p{
    margin-bottom: 10px;
    font-size: 17px;
    color: #896c22;
}
.words i{
    position: relative;
    bottom: 3px;
    color: #9CBA70;
}
.diamond2::after,
.diamond2::before{
    content: '';
    position: absolute;
    top: 50px;
    border: 3px solid #9CBA70;
}
.diamond2::after{
    width: 47%;
    left: 0;
}
.diamond2::before{
    left: 52.1%;
    width: 46%;
}
.more-headache{
    text-align: center;
    margin-bottom: 40px;
}
.more-headache a{
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    padding: 8px 12px;
    border-radius: 30px;
    background-color: rgb(150, 150, 150);
    color: white;
    transition: 0.6s ease;
}
.more-headache a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px grey;
}


#containering {
    height: 100vh;
    display: grid;
    place-items: center;
}

#slider-containers {
    height: 300px;
    width: 85vw;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

#slider-containers .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 15px;
    width: 15px;
    border-left: 8px solid #696969;
    border-top: 8px solid #696969;
    cursor: pointer;
}

#slider-containers .btn:hover {
    transform: scale(1.2);
}

#slider-containers .btn.inactive {
    border-color: #282828;
}

#slider-containers .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px;
}

#slider-containers .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
}

#slider-containers #sliders {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

#slider-containers #sliders .slide {
    height: 90%;
    margin: auto 10px;
    background-color: #b5b5b5;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
    display: grid;
    place-items: center;
}

#slider-containers #sliders .slide span {
    color: white;
    font-size: 60px;
}

/*footer*/
.footer{
    background-color: rgb(241, 241, 241);
    box-shadow: 0 -1px 7px grey;
}

.foot-container{
    display: flex;
    justify-content: space-between;
    padding: 35px 135px;
}

.Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Contact h2{
    font-size: 25px;
    padding-bottom: 8px;
    padding-top: 13px;
}

.Contact p{
    font-size: 16px;
    line-height: 22px;
}

.Contact span{
    font-weight: bolder;
}

.footer-icons{
    display: flex;
    padding: 10px 0;
    flex-direction: row;
}

.footer-icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin: 10px 0;
    margin-right: 20px;
    background-color: #9CBA70;
    color: #896c22;
    transition: 0.05 ease;
}

.footer-icons a{
    text-decoration: none;
}

.footer-icons i:hover{
    box-shadow: 0 0 10px grey;
    transform: scale(1.07);
}

.foot-link{
    margin-top: 15px;
    padding: 0 20px;
}

.foot-link h1{
    font-size: 25px;
}
.foot-link ul li{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 16px 0;
    transition: 0.5s ease;
}

.foot-link ul li a{
    text-decoration: none;
    display: block;
    color: #896c22;
    padding: 4px 7px;
}


.foot-link ul li a:hover,
.foot-link ul .main a{
    border-radius: 18px;
    background-color: #9CBA70;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}

.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newsletter h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.newsletter p {
    font-size: 15px;
    margin-bottom: 15px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.newsletter-form input{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.newsletter-form input::placeholder{
    color: #896c22;
}
.newsletter-form button {
    padding: 10px 15px;
    background-color: #9CBA70;
    color: #896c22;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-form button:hover {
    box-shadow: 0 0 10px grey;
}


.hidden {
    display: none; 
}


.newsletter ul{
    display: flex;
    justify-content: end;
}
.newsletter ul li{
    display: inline-block;
    position: relative;
    top: 120px;
    padding: 0 5px;
}

.newsletter ul .middle-man{
    border-left: 1px solid;
    border-right: 1px solid;
}
.newsletter ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #896c22;
}

.copyright{
    padding: 0 135px;
    align-items: center;
}

.copyright p{
    font-size: 15px;
    text-align: center;
    padding: 18px 0;
}

.diamond3::after,
.diamond3::before{
    content: '';
    position: absolute;
    top: 50px;
    border: 3px solid #9CBA70;
}
.diamond3::after{
    width: 38%;
    left: 0;
}
.diamond3::before{
    left: 58%;
    width: 38%;
}

.project-words i{
    position: relative;
    color: #9CBA70;
}

.project-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 135px;
}

.project-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 26%;
    box-shadow: 0 0 20px grey;
}

.project-image{
    width: 100%;
    height: 43%;
}

.project-image img{
    width: 100%;
    height: 100%;

}

.project-info{
    height: 57%;
    width: 100%;
}

.project-arrow{
    width: 10%;
}
.project-info{
    padding: 10px 20px;
    background-color: white;
    position: relative;
}

.project-info h1{
    font-size: 23px;
    text-align: center;
    margin-bottom: 10px;
    color: #9CBA70;
}

.project-info .dates{
    color: #896c22;
    text-align: center;
    font-weight: bold;
}

.dates p{
    font-size: 16px;
}

.project-info .bastard{
    font-size: 17px;
    margin-top: 7px;
}

.project-info .project-thing{
    display: flex;
    justify-content: center;
}

.project-thing a{
    position: absolute;
    text-decoration: none;
    font-size: 17px;
    background-color: #9CBA70 ;
    color: #896c22;
    padding: 8px 9px;
    border-radius: 30px;
    transition: 0.4 ease;
    bottom: -20px;
}

.project-thing a:hover{
    transform: scale(1.1);
    border: 1px solid rgb(82, 81, 81);
    box-shadow: 0 0 10px grey;
}

.five {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #9CBA70;
    animation: moveArrow 1s infinite alternate;
    margin-left: -40px;
    transition: 0.3s ease-in-out;
}

.five:hover {
    box-shadow: 0 0 10px grey;
    animation-play-state: paused;
}

.five a {
    text-decoration: none;
}

.five a i {
    font-size: 40px;
    color: #896c22;
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
    }
}

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


.sponsors {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.sponsor-words {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.sponsor-words h1 {
    font-size: 36px;
    text-align: center;
    display: block;
    position: relative;
    margin: 0;
}

.diamond4::before,
.diamond4::after {
    content: '';
    position: absolute;
    border: 3px solid;
    background-color: #9CBA70;
    top: 38px;
    color: #9CBA70;
}

.diamond4::before {
    width: 43%;
    left: 0; 
}

.diamond4::after {
    width: 43%;
    right: 0;
}

.sponsor-logo {
    box-shadow: 0 0 5px grey;
    background-color: #fff;
    padding: 0px 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.sponsor-logo:hover .logos-track {
    animation-play-state: paused;
}

.logos-track {
    display: inline-block;
    animation: 38s slide infinite linear;
}

.logos-track img {
    height: 200px;
    margin: 0 70px;
}

.sponsor-words i {
    position: relative;
    color: #9CBA70;
}

.bodied{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px grey;
}

.testimonials-section{
    width: 100%;
    padding: 0 8%;
}

.testimonials-section .owl-head{
    max-width: 700px;
    text-align: center;
    margin: 30px auto 40px;
}

.owl-head h1{
    position: relative;
    font-size: 40px;
    color: black;
}

.testimonials-container{
    position: relative;
}

.testimonials-container .testimonial-card{
    padding: 20px;
}

.testimonial-card .test-car-body{
    background-color: #9CBA70;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.301);
    padding: 20px;
}

.test-car-body .quote{
    display: flex;
    align-items: center;
}

.test-car-body .quote i{
    font-size: 45px;
    color: rgb(20, 20, 20);
    margin-right: 20px;
}

.test-car-body .quote h2{
    color: rgb(20, 20, 20);
}

.test-car-body p{
    margin: 10px 0px 15px;
    font-size: 14px;
    line-height: 1.4;
    color: rgb(20, 20, 20);
}

.test-car-body .rating{
    margin-top: 20px;
}

.test-car-body .rating i{
    font-size: 17px;
    color: #896c22;
    cursor: pointer;
}

.testimonial-card .profile{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.profile .profile-image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile .profile-des{
    display: flex;
    flex-direction: column;
}

.profile-des span:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    color: #9CBA70;
}

.profile-des span:nth-child(2){
    font-size: 15px;
    color: rgb(20, 20, 20);
}

.owl-nav{
    position: absolute;
    right: 20px;
    bottom: -10px;
}


.owl-nav .owl-prev i,
.owl-nav .owl-next i{
    padding: 10px;
    font-size: 18px;
    background-color: #9CBA70;
    color: #896c22;
    cursor: pointer;
    transition: 0.4s;
}


.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
    background-color: #896c22;
    color: #e9e9e9;
}

.owl-dots{
    margin-top: 15px;
}



.gallery{
    width: 1200px;
    display: flex;
    overflow-x: scroll;
}

.gallery .gallery-img{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
    align-items: center;
}

.gallery .gallery-img img{
    width: 100%;
    height: 300px;
    transition: transform 0.5s;
    box-shadow: 0 0 10px grey;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.gallery-button i{
    font-size: 22px;
    border: 1px solid;
    margin: 15px;
    padding: 10px;
    color: #896c22;
    background-color: #9CBA70;
    text-align: center;
    cursor: pointer;
}

.gallery-button i:hover{
    box-shadow: 0 0 10px grey;
}

.gallery .gallery-img img:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/*
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
    */